@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body{
   
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;   
}
.loginribbon{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    background: darkblue;
    padding:2rem;  
}
.loginribbon:hover {
    color: aqua;
}

.login{
    background: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,0.73)) , url(https://wallpaperaccess.com/full/187161.jpg);
    width:100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
input{
  display: block;
  width: 80%;
  border: none;
  border-bottom: 3px solid darkblue;
  margin-bottom: 2rem;
  padding:1rem;
  margin-left: 13%;
}
.container{
    border-radius:2rem;
  
    width:30%;
    height: 50%;
    margin-left:35% ;
    
    position: relative;
    top:20%;
}
.input{
    background: #fff;
    padding: 3rem ;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;    
}
.input a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color:darkblue;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 13%;
    }
input:hover{
    color: black;
}
.button{
    border-radius: 1rem;
    color:#fff;
    background:darkblue;
}
.button:hover{
    color: blue;
}  
input:focus{
    outline:none;
    border:none;
    border-bottom:  3px solid black; 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}